{% load humanize %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
	<head>
		 <!-- Required meta tags -->
	   <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl" crossorigin="anonymous">

	    
		<title>Tibikon</title>
	</head>
	<body style="background-color:#F0E68C">
		{% localize on %}
		<center>
			<H3>مسودة برنامج التيبيكون</H3>
			<big>يرجى اختيار أي يوم من شهر أيلول حصراً، وأي سنة</big><hr>
		</center>
			<div>
				<form method="POST">	
					{% csrf_token %}
					<label>الخدمة</label>	
					<select id="service" name="service">
						<option value="Vespers">الغروب</option>
					</select>
					<label>التاريخ</label>
					<input type="date" name="date">
					<button type="submit" class="btn btn-outline-primary">بحث</button>
				</form>
				<div>
					{% if isit %}
						<center>
							<h3>اليوم</h3>
							التاريخ: {{date | date:"D, d/m/Y" }}<br>
							الخدمة: {{service}}<br>
							العيد: {{sink}}<br>
						</center>
						<div class="row">
							<hr><center><h1>الدورة الفصحية</h1></center><hr>							
							<div class="col-sm">
								<center><h3>آحاد التهيئة</h3></center>
								أحد زكا: {{Zacchaeus | date:"D, d/m/Y"}}<br>
								أحد الفريسي والعشار: {{PnPH | date:"D, d/m/Y"}}<br>
								أحد الابن الشاطر: {{PS | date:"D, d/m/Y"}}<br>
								أحد الدينونة: {{LD | date:"D, d/m/Y"}}<br>
								أحد الغفران: {{SF | date:"D, d/m/Y"}}<br>
								بدء الصوم: {{lent | date:"D, d/m/Y"}}<br>
							</div>
							<div class="col-sm">
								<center><h3>فترة الصوم</h3></center>
								أحد الأرثوذكسية: {{orthodoxy | date:"D, d/m/Y"}}<br>
								أحد غريغوريوس بالاماس: {{GP | date:"D, d/m/Y"}}<br>
								أحد رفع الصليب: {{cross | date:"D, d/m/Y"}}<br>
								أحد يوحنا السلمي: {{ladder | date:"D, d/m/Y"}}<br>
								أحد مريم المصرية: {{egypt | date:"D, d/m/Y"}}<br>
								سبت لعازار: {{lazarus | date:"D, d/m/Y"}}<br>
								أحد الشعانين: {{palms | date:"D, d/m/Y"}}<br>
								الاثنين العظيم: {{GM | date:"D, d/m/Y"}}<br>
								الثلاثاء العظيم: {{GT | date:"D, d/m/Y"}}<br>
								الأربعاء العظيم: {{GW | date:"D, d/m/Y"}}<br>
								الخميس العظيم: {{GTH | date:"D, d/m/Y"}}<br>
								الجمعة العظيمة: {{GF | date:"D, d/m/Y"}}<br>
								سبت النور: {{GS | date:"D, d/m/Y"}}<br>
								الفصح: {{pascha | date:"D, d/m/Y"}}<br>
							</div>
							<div class="col-sm">
								<center><h3>البندكستاريون</h3></center>
								الصعود: {{ascension | date:"D, d/m/Y"}}<br>
								العنصرة:	{{pentecost | date:"D, d/m/Y"}}<br>
							</div>
						</div>
					{% endif %}
				</div>							
			</div>
			{% endlocalize %}		
	</body>
</html>